<p><strong>You are here: </strong>Area1/Home/About</p>

<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home/Index</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="About">Home/About</a></li>
    <li><a asp-controller="Home" asp-action="Index">Area1/Home/Index</a></li>
    <li><a asp-controller="Home" asp-action="About">Area1/Home/About</a></li>
    <li><a asp-area="Area2" asp-controller="Home" asp-action="Index">Area2/Home/Index</a></li>
    <li><a asp-area="Area2" asp-controller="Home" asp-action="About">Area2/Home/About</a></li>
</ul>